<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>运营管理系统</title>
	
    <link href="/r/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/r/css/font-awesome.min.css" rel="stylesheet" />
    <link id="beyond-link" href="/r/css/beyond.min.css" rel="stylesheet" />
    <link href="/r/css/demo.min.css" rel="stylesheet" />
    <link href="/r/css/animate.min.css" rel="stylesheet" />
    <link href="/r/css/skins/darkblue.min.css" rel="stylesheet" type="text/css" />
    <link href="/r/css/dataTables.bootstrap.css" rel="stylesheet" />

    <script src="/r/js/skins.min.js"></script>
    <script src="/r/js/jquery-2.1.1.js"></script>
    <script src="/r/js/bootstrap.min.js"></script>
    <script src="/r/js/angular.min.js"></script>
    <script src="/r/js/toastr.js"></script>
	<script src="/r/js/ui-bootstrap-tpls.js"></script>
	<script src="/r/js/core.js"></script>
	<script src="/r/js/beyond.min.js"></script>
	<script src="/r/core/controller/base/roleManager.js"></script>
	<script src="/r/core/controller/base/menu.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<!-- 头部 -->
	<div id="header_id" ng-include="'/admin/include/header.htm'"></div>

    
    <div class="main-container container-fluid">
        <div class="page-container">
        
            
        	<!-- 菜单 -->
        	<div class="page-sidebar" id="sidebar" ng-include="'/admin/include/menu.htm'"></div>
        	<!-- 菜单 -->
            
            
            <!-- 右半页 -->
            <div class="page-content">
                
               	<div class="page-breadcrumbs">
				    <ul class="breadcrumb">
				        <li>
				            <i class="fa fa-comments"></i>
				            <a href="">系统管理</a>
				        </li>
				        <li class="active">角色管理</li>
				    </ul>
				</div>
				
				<div class="page-body">
				    <div class="row">
				        <div class="col-xs-12 col-md-12">
				            <div class="widget">
				                <div class="widget-header ">
				                    <span class="widget-caption">角色管理</span>
				                    <div class="widget-buttons">
				                        <a href="javascript:void(0)" ng-click="openAddDialog()" title="添加"><i class="fa fa-plus"></i></a>
				<!--                        <button class="btn btn-default btn-sm">添加</button>-->
				                    </div>
				                </div>
				                <div class="widget-body">
				                    <div class="table-scrollable">
				                        <table class="table table-bordered table-hover table-fixed table-min-width-1000 ">
				                            <thead>
				                            <tr>
				                                <th style="width: 5%">ID</th>
				                                <th style="width: 20%">名称</th>
				                                <th style="width: 60%">描述</th>
				                                <th>操作</th>
				                            </tr>
				                            </thead>
				                            <tbody>
				                            <tr ng-repeat="item in formData.data track by $index">
				                                <td>{{item.id}}</td>
				                                <td>{{item.name}}</td>
				                                <td>{{item.description}}</td>
				                                <td>
				                                    <button class="btn btn-xs icon-only" ng-click="openUpdateDialog(item)" title="修改">
				                                        <i class="fa fa-edit"></i>
				                                    </button>
				                                    <button class="btn btn-xs icon-only" ng-click="openFuncUpdateDialog(item.id)" title="菜单">
				                                        <i class="fa fa-list"></i>
				                                    </button>
				                                </td>
				                            </tr>
				                            </tbody>
				
				                        </table>
				                    </div>
				
				                    <div class="row DTTTFooter">
				                        <span style="line-height: 34px; padding: 8px">记录数：{{formData.total}}</span>
				
				                        <pagination style="float:right" ng-change="formDataChange()" total-items="formData.total" items-per-page="pageData.pageSize" ng-model="pageData.pageNumber" max-size="5" class="pagination m-t m-b" boundary-links="true"></pagination>
				                    </div>
				                    <div style="clear: both"></div>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				
				
				
				<div class="modal-backdrop fade in" ng-if="common.showUpdate || common.showAdd || common.showFuncUpdate"></div>
				<div class="bootbox modal fade modal-darkorange in" style="display: block" ng-if="common.showUpdate">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="bootbox-close-button close"  ng-click="closeUpdateDialog()">×</button>
				                <h4 class="modal-title">修改角色</h4>
				            </div>
				            <div class="modal-body">
				                <div class="bootbox-body">
				                    <div class="form-horizontal">
				                        <div class="form-group">
				                            <label class="col-sm-2 control-label no-padding-right">名称</label>
				                            <div class="col-sm-10">
				                                <input type="text" class="form-control" ng-model="common.roleUpdate.name">
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-sm-2 control-label no-padding-right">描述</label>
				                            <div class="col-sm-10">
				                                <input type="text" class="form-control" ng-model="common.roleUpdate.description">
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn" ng-click="closeUpdateDialog()">取消</button>
				                <button type="button" class="btn btn-primary" ng-click="submitUpdate()">保存</button>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="bootbox modal fade modal-darkorange in" style="display: block" ng-if="common.showAdd">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="bootbox-close-button close"  ng-click="closeAddDialog()">×</button>
				                <h4 class="modal-title">添加角色</h4>
				            </div>
				            <div class="modal-body">
				                <div class="bootbox-body">
				                    <div class="form-horizontal">
				                        <div class="form-group">
				                            <label class="col-sm-2 control-label no-padding-right">名称</label>
				                            <div class="col-sm-10">
				                                <input type="text" class="form-control" ng-model="common.roleAdd.name">
				                            </div>
				                        </div>
				                        <div class="form-group">
				                            <label class="col-sm-2 control-label no-padding-right">描述</label>
				                            <div class="col-sm-10">
				                                <input type="text" class="form-control" ng-model="common.roleAdd.description">
				                            </div>
				                        </div>
				                    </div>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn" ng-click="closeAddDialog()">取消</button>
				                <button type="button" class="btn btn-primary" ng-click="submitAdd()">保存</button>
				            </div>
				        </div>
				    </div>
				</div>
				
				
				<div class="bootbox modal fade modal-darkorange in" style="display: block" ng-if="common.showFuncUpdate">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="bootbox-close-button close"  ng-click="closeFuncUpdateDialog()">×</button>
				                <h4 class="modal-title">修改菜单</h4>
				            </div>
				            <div class="modal-body">
				                <div class="bootbox-body" style="overflow-y:auto;max-height:450px">
				                    <ol class="dd-list">
				                        <li class="dd-item dd2-item" ng-repeat="item in common.funcTree">
				                            <div  class="dd2-content"
				                                  ng-class="{true:'btn-azure no-hover',false:''}[funcSelected(item.id)]"
				                                  ng-click="toggleSelect(item.id)">{{item.name}}</div>
				                            <ol class="dd-list" style="" ng-if="item.sub.length !== 0">
				                                <li class="dd-item dd2-item" ng-repeat="subItem in item.sub">
				                                    <div class="dd2-content " ng-class="{true:'btn-azure no-hover',false:''}[funcSelected(subItem.id)]" ng-click="toggleSelect(subItem.id)">{{subItem.name}}</div>
				                                </li>
				                            </ol>
				                        </li>
				                    </ol>
				                </div>
				            </div>
				            <div class="modal-footer">
				                <button type="button" class="btn" ng-click="closeFuncUpdateDialog()">取消</button>
				                <button type="button" class="btn btn-primary" ng-click="submitFuncUpdate()">保存</button>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
        </div>
    </div>
    
</body>
</html>
