<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartfarm.base.farm.core.dao.ProductBatchDao">
	<resultMap id="BaseResultMap" type="com.smartfarm.base.farm.core.entity.ProductBatch">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="product_info_id" property="productInfoId" jdbcType="BIGINT"/>
		<result column="batch_code" property="batchCode" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="VARCHAR"/>
		<result column="source_status" property="sourceStatus" jdbcType="SMALLINT"/>
		<result column="yield" property="yield" jdbcType="INTEGER"/>
		<result column="package_specs" property="packageSpecs" jdbcType="INTEGER"/>
		<result column="farm_id" property="farmId" jdbcType="BIGINT"/>
	</resultMap>

	<resultMap id="BaseVoResultMap" type="com.smartfarm.base.farm.core.entity.vo.ProductBatchVo" extends="BaseResultMap">
		<result column="master_id" property="masterId" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="plant_area" property="plantArea" jdbcType="INTEGER"/>
		<result column="farm_name" property="farmName" jdbcType="VARCHAR"/>
		<result column="base_name" property="baseName" jdbcType="VARCHAR"/>
		<result column="tunnel_name" property="tunnelName" jdbcType="VARCHAR"/>
		<result column="start_date" property="startDate" jdbcType="VARCHAR"/>
		<result column="end_date" property="endDate" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="TunnelInfoMap" type="com.smartfarm.base.farm.core.entity.vo.FarmTunnelInfoVo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="area" property="area" jdbcType="INTEGER"/>
		<result column="base_id" property="baseId" jdbcType="BIGINT"/>
		<result column="farm_name" property="farmName" jdbcType="VARCHAR"/>
		<result column="base_name" property="baseName" jdbcType="VARCHAR"/>
	</resultMap>

	<resultMap id="ProductNameMap" type="com.smartfarm.base.shop.core.entity.ProductInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="page_query">
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="id != null and id != '' ">
					and id = #{id}
				</if>
			<if test="batchCode != null and batchCode != '' ">
				and batch_code = #{batchCode}
			</if>
			<if test="id != null and batchCode != '' ">
				and id = #{id}
			</if>
		</trim>
	</sql>

	<!-- 分页查询批次信息 -->
	<select id="getPageList" resultMap="BaseVoResultMap">
		SELECT pb.*,plm.id master_id,plm.*,pif.name,fi.name farm_name,fbi.name base_name,fti.name tunnel_name FROM product_batch pb LEFT JOIN produce_plan_master plm ON pb.id=plm.batch_id
		LEFT JOIN product_info pif ON pb.product_info_id=pif.id
		LEFT JOIN farm_tunnel_info fti  ON plm.tunnel_id=fti.id
		LEFT JOIN farm_base_info fbi ON  fti.base_id=fbi.id
		LEFT JOIN farm_info fi ON fbi.farm_id=fi.id
		where  pb.farm_id=#{farmId,jdbcType=BIGINT}
		<!--select pb.*,plm.id master_id,plm.*,pif.name,fi.name farm_name,fbi.name base_name,fti.name tunnel_name from product_batch pb,produce_plan_master plm,product_info pif,farm_info fi,farm_base_info fbi,farm_tunnel_info fti
		<where>
			pb.id=plm.batch_id and pb.product_info_id=pif.id and plm.tunnel_id=fti.id and fti.base_id=fbi.id and fbi.farm_id=fi.id
			<if test="farmId != null">
				and pb.farm_id=#{farmId,jdbcType=BIGINT}
			</if>
		</where>-->
		order by pb.id desc
		limit #{start}, #{limit}
	</select>

	<select id="getPageTotal" resultType="Integer">

		SELECT count(*) FROM product_batch pb LEFT JOIN produce_plan_master plm ON pb.id=plm.batch_id
		LEFT JOIN product_info pif ON pb.product_info_id=pif.id
		LEFT JOIN farm_tunnel_info fti  ON plm.tunnel_id=fti.id
		LEFT JOIN farm_base_info fbi ON  fti.base_id=fbi.id
		LEFT JOIN farm_info fi ON fbi.farm_id=fi.id
		where  pb.farm_id=#{farmId,jdbcType=BIGINT}
		<!--select count(*) from product_batch
		<where>
			<if test="farmId != null">
				and fbi=#{farmId,jdbcType=BIGINT}
			</if>
		</where>-->
	</select>

	<select id="getTunnelList" resultMap="TunnelInfoMap">
		select fti.*,fbi.name base_name,fi.name farm_name from farm_tunnel_info fti,farm_info fi,farm_base_info fbi where fti.base_id=fbi.id and fbi.farm_id=fi.id
		and fbi.farm_id=#{farmId,jdbcType=BIGINT}
	</select>

	<select id="getProductName" resultMap="ProductNameMap">
		select id,name from product_info
	</select>

	<select id="getProductBatchS"  resultMap="BaseResultMap" parameterType="com.smartfarm.base.farm.core.entity.ProductBatch">
		select * from product_batch
		<include refid="page_query"></include>
	</select>

	<insert id="addBatch" parameterType="com.smartfarm.base.farm.core.entity.ProductBatch">
		insert into product_batch
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="productInfoId != null">
				product_info_id,
			</if>
			<if test="batchCode != null">
				batch_code,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="sourceStatus != null">
				source_status,
			</if>
			<if test="farmId != null">
				farm_id
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productInfoId != null">
				#{productInfoId,jdbcType=BIGINT},
			</if>
			<if test="batchCode != null">
				#{batchCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="sourceStatus != null">
				#{sourceStatus,jdbcType=SMALLINT},
			</if>
			<if test="farmId != null">
				#{farmId,jdbcType=BIGINT}
			</if>
		</trim>
	</insert>

	<select id="getProductBatchByCode" resultMap="BaseResultMap">
		select * from product_batch where batch_code=#{batchCode}
	</select>

	<insert id="addMaster" parameterType="com.smartfarm.base.farm.core.entity.ProducePlanMaster">
		insert into produce_plan_master
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="batchId != null">
				batch_id,
			</if>
			<if test="plantArea != null">
				plant_area,
			</if>
			<if test="tunnelId != null">
				tunnel_id,
			</if>
			<if test="startDate != null">
				start_date,
			</if>
			<if test="endDate != null">
				end_date,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="batchId != null">
				#{batchId,jdbcType=BIGINT},
			</if>
			<if test="plantArea != null">
				#{plantArea,jdbcType=INTEGER},
			</if>
			<if test="tunnelId != null">
				#{tunnelId,jdbcType=BIGINT},
			</if>
			<if test="startDate != null">
				#{startDate,jdbcType=VARCHAR},
			</if>
			<if test="endDate != null">
				#{endDate,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<delete id="deleteBatch" parameterType="Long">
		delete from product_batch where id=#{id}
	</delete>

	<delete id="deleteMaster" parameterType="Long">
		delete from produce_plan_master where id=#{id}
	</delete>

	<update id="updateSourceStatus" parameterType="com.smartfarm.base.farm.core.entity.ProductBatch">
		update product_batch set source_status=#{sourceStatus,jdbcType=SMALLINT} where id = #{id,jdbcType=BIGINT}
	</update>

	<update id="addYieldAndSpecs" parameterType="com.smartfarm.base.farm.core.entity.ProductBatch">
		update product_batch
		<set>
			<if test="yield != null">
				yield = #{yield,jdbcType=INTEGER},
			</if>
			<if test="packageSpecs != null">
				package_specs = #{packageSpecs,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>