<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>运营管理系统</title>
	
    <link href="/r/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/r/css/font-awesome.min.css" rel="stylesheet" />
    <link id="beyond-link" href="/r/css/beyond.min.css" rel="stylesheet" />
    <link href="/r/css/demo.min.css" rel="stylesheet" />
    <link href="/r/css/animate.min.css" rel="stylesheet" />
    <link href="/r/css/skins/darkblue.min.css" rel="stylesheet" type="text/css" />
    <link href="/r/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/r/css/fileinput.min.css" rel="stylesheet" />
    <link href="/r/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/r/css/showProgress.css" rel="stylesheet" />

    <script src="/r/js/skins.min.js"></script>
    <script src="/r/js/jquery-2.1.1.js"></script>
    <script src="/r/js/bootstrap.min.js"></script>
    <script src="/r/js/angular.min.js"></script>
    <script src="/r/js/toastr.js"></script>
	<script src="/r/js/ui-bootstrap-tpls.js"></script>
	<script src="/r/js/fileinput.min.js"></script>
	<script src="/r/js/distpicker.data.js"></script>
	<script src="/r/js/distpicker.js"></script>	
	<script src="/r/js/bootstrap-datetimepicker.js"></script>
	<script src="/r/js/core.js"></script>
	<script src="/r/js/beyond.min.js"></script>
	<script src="/r/core/controller/monitor/farmSenorGatewayNode.js"></script>
	<script src="/r/core/controller/base/menu.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<!-- 头部 -->
	<div id="header_id" ng-include="'/admin/include/header.htm'"></div>
	<!-- 头部 -->
	   
    <div class="main-container container-fluid">
        <div class="page-container">
        
        	<!-- 菜单 -->
        	<div class="page-sidebar" id="sidebar" ng-include="'/admin/include/menu.htm'"></div>
        	<!-- 菜单 -->
            
            <!-- 右半页 -->
            <div class="page-content">
            	<div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-comments"></i>
                            <a href="/admin/main.html">首页</a>
                        </li>
                        <li class="active">监控管理</li>
                    </ul>
                </div>
                
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                        
                            <div class="widget">
                                <div class="widget-header ">
                                    <span class="widget-caption">传感器网关列表</span>
                                </div>
                                <div class="widget-body">

                                	<div class="table table-striped table-bordered table-hover" style="height:55px;margin-bottom:20px;padding:10px;">
                                		<!-- <div class="DTTT btn-group" style="left:35px;top:60px;">
                                			<a class="btn btn-primary" ng-click="showAddMsg()"><span style="color:white;"><i class="glyphicon glyphicon-plus"></i>新增网关</span></a>
                                		</div> -->
                                	</div>
                                
                                    <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                                        <thead>
                                            <tr>
                                            	<th>
                                                   	 序号
                                                </th>
                                                <th>
                                                   	产品编码
                                                </th>
                                                <th>
                                                                                                                                                            网关节点名称
                                                </th>
                                                 <th>
                                                   	 网关状态
                                                </th>
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr ng-repeat="gate in list">
                                            	<td>
                                                    {{$index+1}}
                                                </td>
                                            	<td>
                                                    {{gate.productCode}}
                                                </td>
                                            	<td>
                                                    {{gate.nodeName}}
                                                </td>
                                            	<td>
                                                    {{{'1':'离线','2':'联机'}[gate.status]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                    <div class="row DTTTFooter">
                                    	<pagination style="float:right" ng-change="pageChanged()" total-items="formData.total" items-per-page="formData.pageSize" ng-model="formData.pageNumber" max-size="5" class="pagination m-t m-b" boundary-links="true"></pagination>
                                    </div>
                                    <div style="clear: both"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>